body {
    background: rgb(255, 238, 3);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(148, 148, 148);
}

#btn {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: rgb(255, 187, 0);
    border-radius: 10px;
    font-size: 20px;
    padding: 20px 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 6px rgb(214, 157, 0);
}

#btn:hover {
    box-shadow: 0 4px rgb(214, 157, 0);
    top: 2px;
}

#btn:active {
    box-shadow: 0 0 rgb(214, 157, 0);
    top: 6px;
}