p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; /* size of text */
                     /* use em to inherit parent size and you can double it
                     *  using numeric values, like 2.0em; or 5 times like 5.0 em.
                     */
    font-weight: 100; /* thickness of the text */
    line-height: 1.5; /* gap between the lines of text */
    text-align: center; /* align text to center, right or left */
    text-decoration: none; /* for elements that have predefined styles like underline,etc. */
}

h1 {
    font-family: 'Amatic SC', cursive;
}