.body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header, footer {
    text-align: center;
    background-color: aquamarine;
    flex: 1 1 100px;
}


main {
    display: flex;
    flex-direction: row;
    /* border: 1px solid pink; */
    min-height: 800px;
}

article {
    text-align: center;
    background-color: whitesmoke;
    order: 2;
    flex: 3 1 60%;
}

nav {
    text-align: center;
    background-color: lightgrey;
    order: 1;
    flex: 1 1 20%;
}

aside {
    text-align: center;
    background-color: lightskyblue;
    order: 3;
    flex: 1 1 20%;
}


@media all and (max-width: 640px){
    main {
        flex-direction: column;
    }
    article {
        order: 1;
    }
    nav {
        order: 2;
    }
    aside {
        order: 3;
    }
}