h1 {
    text-align: center;
}

p {
    text-align: center;
    /* Content - width and height */
    width: 50%; /* 50% of the parent element; here it is 50% of the body */
    /* border */
    border: 2px solid red;
    /* padding */
    /* padding: 10px; */
    padding-left:40px;
    /* margin */
    /* margin: 100px; */
    /* margin: top right bottom left */
    /* margin: 20px 40px 500px 50px; */
    /*margin: auto for left and right to center align the element*/
    margin: 0 auto 0 auto; /* margin: 0 auto; sets top and bottom to 0, left and right to auto. */
    margin: 50px 20px;
}