h1 {
    color: rgba(219, 155, 219, 0.733);
    border: limegreen 10px solid;
}

h4 {
    background: blanchedalmond;
}

body {
    background: mediumturquoise;
    /*background: url(https://d2jd5cd93sjelr.cloudfront.net/spree/images/34243/large/f2002235-2_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    
}