h1 {
    /* width: 50%; */
    text-align: center;
    /* margin: 0 auto; */
}

table {
    margin: auto;
}

td {
    width: 100px;
    height: 100px;
    /* background-color: aquamarine; */
}

.vertical {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.horizontal {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* .middle {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
} */