/*
*{} affects all the elements
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
clearfix cancels out float for two div elements. 
Put clearfix in a div element between the two troublesome div elements.
*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*
every element inside the <body> tag in html file inherits these styles that are defined here.
*/

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

h1,h2 {
    color: rgb(82, 165, 82);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

h2{
    font-size: 25px;
    margin-bottom: 20px;
}

img {
    margin-bottom: 20px;
    margin-top: 20px;
}


/*
================ classes ===================
*/


/*
use class using .
*/
.main-text{
    text-align: justify;
    margin-bottom: 20px;
}

/*
use id using #
*/

/*
#auth_user {
    padding-left: 20px;
}

#html_logo {
    width: 300px;
    height: 300px;
}
*/

.author-text{
    font-size: 22px;
    padding-left: 20px;
    float: left;
    margin-top: 55px;
    margin-left: 10px;
}

.container{
    width: 1110px;
    /*margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    ---- shorthand for above 3 lines ----
    margin: top right bottom left; */
    margin: 20px auto 0 auto;
}

.blog-post {
    /*background-color: rgba(93, 160, 219, 0.541);*/
    width: 75%;
    float: left;
    padding-right: 30px;
    padding-left: 20px;
    position: relative;
}
.other-posts {
    /*background-color: rgba(111, 201, 111, 0.514);*/
    width: 25%;
    float: left;
}
.author-box {
    /*background-color: rgba(245, 245, 106, 0.541);*/
    /* border width, line type and color*/
    border-top: 1px solid rgb(146, 146, 146);
}

.other {
    margin-bottom: 40px;
}

/*
select specific elements of a div
*/

/*
make the image round, use border-radius
*/

.author-box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}

.blog-post img {
    height: 150px;
    width: auto;
}

.date {
    position: absolute;
    top: 10px;
    right: 30px;

}